# Top-level .gitignore

# Node dependencies
client/stdnt-react/node_modules/
server/node_modules/

# Build outputs
client/stdnt-react/build/

# Env files
*.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/

node_modules/

.txt

.gitignore
